<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">
        <img src="/imgs/logo2.png" alt="" />
      </a> -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/stageandspotlight">Carrie's Career</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Carrie's Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Carrie's Commerce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Carrie's Crazy Mind</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Get in Touch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
