<section
  class="vh-100 d-flex align-items-center justify-content-center"
  style="
    background-image: url(./imgs/landing-page.png);
    background-size: cover;
    background-position: center;
    padding-top: 20px;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img
          id="nameLogo"
          src="./imgs/logo3.png"
          alt=""
          class="img-fluid mx-auto d-block"
        />
      </div>
      <div class="col-12 col-md-6 text-content">
        <div class="text-center">
          <h1 class="title">
            Have <span class="cursive">Fun.</span><br />
            Make <span class="cursive">Money.</span> <br />Make a
            <span class="cursive">Difference.</span>
          </h1>

          <a href="/register"
            ><button class="btn" id="registerBtn">Register</button></a
          >
          <button class="btn" id="loginBtn">Login</button>
        </div>
      </div>
    </div>
  </div>
</section>
